#### SQL And SQLite
SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations.

In [48]:
import sqlite3

In [49]:
## Connect to an SQLite database

connection= sqlite3.connect('example.db')
connection

In [50]:
cursor= connection.cursor()

In [53]:
## Create a Table

cursor.execute('''
    Create Table If Not Exists employees(
        id Integer Primary Key,
        name Text Not Null,
        age Integer,
        department text
    )
''')

## Commit the changes

connection.commit()

In [54]:
cursor.execute('''
Select * from employees
    
''')

In [55]:
## Insert the data in sqlite table

cursor.execute('''
Insert Into employees(name,age,department)
               values('Satish',32,'Data Scientist')

''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Bob', 25, 'Engineering')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Charlie', 35, 'Finance')
''')

## commi the changes

connection.commit()

In [56]:
## Query the data from the table

cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Satish', 32, 'Data Scientist')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Finance')

In [57]:
## Update the data in the table

cursor.execute('''
UPDATE employees
Set age=34
where name="Satish"
''')

connection.commit()

In [58]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Satish', 34, 'Data Scientist')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Finance')

In [59]:
## Delete the data from the table
cursor.execute('''
Delete from employees
               where name ='Bob'
''')

connection.commit()

In [60]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Satish', 34, 'Data Scientist')
(3, 'Charlie', 35, 'Finance')

In [64]:
## Working Wwith Sales Data
# Connect to an SQLite database

connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data

cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table

sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [65]:
# Query data from the sales table

cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data

for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [66]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [67]:
## close the connection
connection.close()

In [68]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.